---
import { getWorkshops } from '../../firebase.server';
import { formatDate } from '../../utils/workshop';
import type { Workshop } from '../../types/workshop';

let workshopstable: Workshop[] = [];
try {
  workshopstable = await getWorkshops();
  workshopstable.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
  console.log('WorkshopsTable.astro: workshopstable obtenido', workshopstable);
} catch (err) {
  console.error('WorkshopsTable.astro: ERROR al obtener workshops', err);
}
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-3">
      {
        workshopstable.length === 0
          ? <div>No hay workshops disponibles.</div>
          : workshopstable.map((item, idx) => (
              <div
                class:list={[
                  'relative h-full flex flex-col rounded-3xl p-8',
                  (idx % 2 === 1) && 'bg-primary-500/10 dark:bg-primary-400/10',
                ]}
              >
                <div class="flex-1 flex flex-col">
                  <h2 class="text-xl font-medium h-10 flex items-center">{formatDate(item.date)}</h2>
                  <p class="mt-4 flex items-baseline">
                    <span class="text-4xl font-medium tracking-tight">{item.name}</span>
                  </p>
                  <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>
                  <ul role="list" class="mt-6 space-y-6">
                    {item.features && item.features.length > 0
                      ? item.features.map((feature: string) => (
                          <li class="flex gap-3">
                            <span>{feature}</span>
                          </li>
                        ))
                      : <li>No hay características.</li>
                    }
                  </ul>
                  <div class="mt-auto mt-12 flex gap-4">
                    <a
                      href={`/workshops/${item.id}`}
                      class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-6 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >
                      Ver más
                    </a>
                  </div>
                </div>
              </div>
            ))
      }
    </div>
  </div>
</section>
